{{ created_date }}
{{ name }}
{{ ipbx_ip }}
{{ ipbx_auth_username }}
{{ ipbx_auth_password }}
{{ gateway_ip }}
{{ gateway_mask }}
{{ gateway_gw }}
{{ gateway_password }}
{{ gateway_ntp }}
{{ gateway_dns1 }}
{{ tone }}
{{ template_name }}
{{ template_file }}
